.main-login-sec {
    width: 100%;
    height: 100vh;
    /* background: url(../img/loginBg.png) center center / cover no-repeat; */
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 1.95;
}

.login-main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login-block {
    max-width: 540px;
    width: 100%;
}

.logo-login {
    text-align: center;
    margin: 0px 0px 15px;
}

.login-panel {
    text-align: center;
    color: #162331;
    background: #fff;
    border-radius: 7px;
    padding: 3rem 9rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.login-title {
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 40px;
}

.msg-title {
    color: #fff;
    font-size: 14px;
    background: rgb(199, 169, 99);
    border-radius: 7px;
    padding: 12px;
}

.login-panel .input-control {
    height: 45px;
    border-radius: 7px;
}

.btn-submit {
    color: #fff;
    background: #162331;
    border-radius: 7px;
}

.login-panel .btn-submit {
    width: 100%;
}

.forgot-block p {
	color: #162331;
	margin: 0 0 5px;
}

.forgot-block .links {
	color: #c7a963;
}

.login-panel .form-check-label {
	text-align: left;
}

.chek-box label {
	position: relative;
	text-align: left;
	padding-left: 30px;
}

.chek-box label input[type="checkbox"]:empty + span:before {
	content: "";
	width: 20px;
	height: 20px;
	line-height: 19px;
    text-align: center;
    color: #fff;
	border: 1px solid #ddd;
	position: absolute;
	top: 0;
    left: 0;
}

.chek-box label input[type="checkbox"]:checked + span:before {
    content: "\f00c";
    font-family: FontAwesome;
    background: #162331;
}

.terms-block a {
    color: #162331;
    text-decoration: underline;
}

.thanku-img  {
    margin: 0 0 40px;
}

.thanku-img img {
    width: 150px;
}

.verify-block p {
    line-height: 1.6;
}


.verify-block a {
    font-weight: bold;
    color: #162331;
}
